/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
    background: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../images/header_background.jpg) no-repeat top
        center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

header .banner-text {
    width: 100%;
}
header .banner-text h1 {
    font: 90px 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.emoji {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

header .banner-text h3 {
    font: 18px/1.9em 'opensans-bold', sans-serif;
    background-color: #2b2b2be9;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
}
header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2f2d2e;
    border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    background-color: #0d0d0d;
    padding: 10px;
    border-radius: 10px;
}
header .social li a {
    color: #fff;
}
header .social li a:hover {
    color: #f06000;
}

/* scrolldown link */
header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
    color: #f06000;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
.opaque {
    background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

/* Links */
ul#nav li a {
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;

    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
    background-color: transparent !important;
}
ul#nav li.current a {
    color: #f06000;
}

button {
    font-size: 30px;
    background-color: #333;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
    background: #2b2b2b;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}

#about a,
#about a:visited {
    color: #fff;
}
#about a:hover,
#about a:focus {
    color: #11abb0;
}

#about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
}
#about p {
    line-height: 30px;
    color: #7a7a7a;
    text-align: justify;
}
#about .profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
#about .contact-details {
    width: 41.66667%;
}
#about .main-col {
    padding-right: 5%;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
    text-align: center;
}

.cv {
    margin: auto;
}

#resume h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
    background: #ebeeee;
    padding-top: 90px;
    padding-bottom: 60px;
}
#portfolio h1 {
    font: 24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95a3a3;
}

#portfolio h3 {
    color: black;
}

#portfolio a {
    color: black;
}

.portfolio-item {
    border: 3px solid #f06000;
    padding: 30px;
    border-radius: 20px;
}

#portfolio a:hover {
    color: #f06000;
}

/* Portfolio Content */
#portfolio-wrapper {
    display: inline;
}
#portfolio-wrapper .columns {
    margin-bottom: 36px;
}
.portfolio-item .item-wrap {
    background: #fff;
    overflow: hidden;
    position: relative;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
    display: flex;
    cursor: pointer;
}

#portfolio-wrapper .portfolio-item .description p {
    color: black;
    text-align: justify;
}

.videodemo {
    border-radius: 10px;
}

/* ------------------------------------------------------------------ */
/* f. Footer
/* ------------------------------------------------------------------ */

footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
}

p {
    font-size: large;
    color: #fff;
}

footer a,
footer a:visited {
    color: #525252;
}
footer a:hover,
footer a:focus {
    color: #f06000;
}

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
}
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
    display: inline;
}
footer .copyright li:before {
    content: '\2022';
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #f06000;
}

footer .social-links li:first-child {
    margin-left: 0;
}

/* Go To Top Button */
#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #525252;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #fff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}
#go-top a:hover {
    background-color: #f06000;
}
